<div>
  <h5>{{coordinates.x}} | {{coordinates.y}}</h5>
</div>
<div>
  <div class="example-time"
       [ngClass]="timeCounter%2 === 0 ? 'example-time-green': 'example-time-red'">{{timeCounter}}</div>

  @if(showTimeIndicator) {
    <p>TIME!</p>
  }

</div>
<div>
  <app-child></app-child>
  @if ({val: (valueCounter$ | async)}; as valueCounter) {
    @if ((valueCounter?.val || 0)%2 ==0) {
      {{valueCounter?.val}} is even
    } @else {
      {{valueCounter?.val}} is odd
    }
  }
</div>

<button class="btn btn-primary" (click)="reset()">Reset</button>
