@if (country) {

  <div class="country-card">
    <div class="country-card-capital">{{ country.capital || country.name }}</div>
    <div class="country-card-flag flag:{{country.id}}"></div>
    <div class="country-card-name">{{ country.name }}</div>
    <div class="country-card-languages">
      <i class="bi bi-translate"></i>
      <span>{{ country.languagesWithNames || '-'}}</span>
    </div>
    <div class="country-card-rating">
      <ngb-rating [(rate)]="country.averageRating" [max]="5">
        <ng-template let-fill="fill" let-index="index">
          <i class="bi-star{{ fill === 100 ? '-fill' : '' }}" [ngClass]="fill === 100 ? 'country-card-rating-filled' :''"></i>
        </ng-template>
      </ngb-rating>
      <span> ({{ country.reviewCount }})</span>
    </div>
  </div>
}
