<div>
  <button class="btn btn-primary" (click)="decrement()">-</button>
  <span class="m-2">{{valueCounter}}</span>
  <button class="btn btn-primary" (click)="increment()">+</button>
</div>

<div>
  @if(valueCounter <=5) {
    <p class="state state-low">LOW</p>
  } @else if(valueCounter >= 6 && valueCounter <=15) {
    <p class="state state-mid">MID</p>
  } @else if(valueCounter >= 16) {
    <p class="state state-high">HIGH</p>
  }
</div>

<div>
  @if(valueCounter == 0) {
    <p>There are no stars</p>
  } @else if(valueCounter == 20) {
    <p>Stars maxed out</p>
  } @else {
    @for(el of counterArray; track el) {
      <span>*</span>
    }
  }
</div>
