/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  input.form-control {
    margin: .1rem .1rem .1rem .1rem;
    width: auto !important;
    display: inline-block !important;
  }

  button.form-control {
    width: auto;
    display: inline-block;
    margin: .1rem;
  }

}
